@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import 'tailwindcss';

body {
    height: 100%;
    width: 100%;
    color: #ffffff;
    font-family: "Bebas Neue", sans-serif !important;
    user-select: none;
}

h3 {
    font-family: "Bebas Neue", sans-serif !important;
}